<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article-page">

<div class="article-detail-container">
    <div class="header-link header-link a">
        {% if user.is_authenticated %}
        Привет, {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </div>
    <div class="header">
        <img src="{% static 'img/dpb-logo.png' %}" alt="Логотип">
        <div class="header-link">
            <a href="{% url 'archive' %}">Все статьи</a>
        </div>
    </div>

    <div style="clear: both;"></div>

    <div class="article-detail">
        <h1 class="article-title">{{ post.title }}</h1>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date|date:"j E Y" }}</div>
        </div>
        <div class="article-text">
            {{ post.text|linebreaks }}
        </div>
    </div>
</div>

</body>
</html>