/* Общие стили страницы*/
body {
    background: #5fd3bc;
    font-family: Tahoma, Arial, sans-serif;
    color: #1a6d5a;
    margin: 0;
    padding: 20px;
}

/* Контейнеры контента*/
.archive, .article-detail-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Шапка (Логотип и ссылка) */
.header {
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
}

/* Логотип */
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

/* Страница статьи */
.article-page .header img {
    float: left;
    margin-left: 0;
    width: 318px;
}

.header-link {
    float: right;
    margin-top: 70px;
}

.header-link a {
    color: #1a6d5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #1a6d5a;
}


/* Заголовки статей */
.post-title, .article-title {
    border-bottom: 3px solid #1a6d5a;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.post-title a, .article-title {
    color: #1a6d5a;
    text-decoration: none;
}

/* Автор и дата*/
.article-info {
    width: 100%;
    color: #1a6d5a;
    margin-bottom: 20px;
    overflow: hidden;
}

.article-author {
    width: 50%;
    float: left;
    font-weight: bold;
}

.article-created-date {
    width: 50%;
    float: right;
    text-align: right;
    font-style: italic;
}

/* Текст статьи */
.article-text {
    color: #1a6d5a;
    clear: both;
    line-height: 1.6;
    text-align: justify;
    padding-top: 10px;
}

/* Создание статьи */
.create-post .content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Поля формы */
.create-post input[type="text"],
.create-post textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
}

/* Высота текстового поля */
.create-post textarea {
    height: 200px;
}

/* Кнопка */
.create-post input[type="submit"] {
    background: #16a085;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.create-post input[type="submit"]:hover {
    background: #148f77;
}

/* Ошибки формы */
.create-post .errors {
    margin-top: 10px;
    color: yellow;
}

/* Регистрация и авторизация */
.register .content,
.login .content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.register input,
.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.errors {
    color: yellow;
}

.form-container {
    width: 400px;
    margin: 0 auto;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.one-post {
    position: relative;
}

.fold-button {
    float: right;
    margin-top: 20px;
    color: #1a6d5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 2px solid white;
}

.one-post.folded .article-author {
    display: none;
}

.one-post.folded .article-created-date {
    display: none;
}

.one-post.folded .article-text {
    display: none;
}

.one-post-shadow {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: black;
     z-index: 0;
     opacity: 0;
     pointer-events: none;
}


.home-page {
    background-color: #c3e6e1; /* Общий светлый фон */
    padding: 0 !important;
    margin: 0;
}

.container-960 {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/* Светлая секция */
.light-section {
    background-color: #c3e6e1;
    padding-bottom: 10px;
}

/* Заголовок "Коллективный блог" */
.service-title {
    color: #1a6d5a;
    font-size: 42px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Инфо о юзере */
.auth-info {
    font-size: 18px;
    color: #1a6d5a;
}

.auth-info a {
    color: #5fd3bc;
    font-weight: bold;
    text-decoration: underline;
}

/* Контейнер для стопки иконок */
.icons-for-parallax {
    float: right;
    position: relative;
    width: 300px;
    height: 250px;
    margin-top: -120px;
}

/* Общие правила для всех трех картинок */
.icons-for-parallax img {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}

.icon-for-parallax-first {
    width: 200px !important;
    z-index: 3;
    right: 80px !important;
}

.icon-for-parallax-second {
    width: 175px !important;
    z-index: 2;
    right: 40px !important;
    bottom: 70px !important;
}


.icon-for-parallax-third {
    width: 150px !important;
    z-index: 1;
    right: 10px !important;
    bottom: 140px !important;
}


/* Темная зона со списком статей */
.dark-section {
    background-color: #5fd3bc;
    width: 100%;
    padding: 20px 0 50px 0;
    overflow: hidden;
    clear: both;
}


.add-post-block {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: right;
    clear: both;
}

.main-add-link {
    color: #1a6d5a;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #1a6d5a;
    font-size: 20px;
    display: inline-block;
}


.one-post {
    position: relative;
    clear: both;
    margin-bottom: 40px;
    padding-top: 10px;
}


.home-page .fold-button {
    float: right;
    color: #1a6d5a;
    text-decoration: none;
    border-bottom: 1px solid #1a6d5a;
    margin-top: 5px;
}


.auth-split-container {
    width: 600px;
    overflow: hidden;
    margin-top: 40px;
}

/* Общий стиль для обеих сторон */
.auth-left, .auth-right {
    font-size: 24px;
    font-weight: bold;
    color: #5fd3bc;
}

.auth-left {
    float: left;
}

.auth-right {
    float: right;
}


.auth-left a, .auth-right a {
    color: #5fd3bc;
    text-decoration: none;
    border-bottom: 3px solid #5fd3bc;
    padding-bottom: 2px;
}

.auth-left {
    border-bottom: 3px solid #5fd3bc;
    padding-bottom: 2px;
}

#logo-parallax {
    position: relative;
}