<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Авторизация</title>
<link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>

<body class="login">

<div class="form-container">

<h1>Вход</h1>

<form method="POST">
{% csrf_token %}

<input type="text"
       name="username"
       placeholder="Имя пользователя">

<input type="password"
       name="password"
       placeholder="Пароль">

<input type="submit" value="Войти">

</form>

<div class="errors">
{{ error }}
</div>

</div>

</body>
</html>